@font-face {
    font-family: 'Caprasimo';
    src: url('../assets/fonts/Caprasimo-Regular.woff2') format('woff2'),
         url('../assets/fonts/Caprasimo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../assets/fonts/NotoSerifJP-Bold-Alphabetic.woff2') format('woff2'),
         url('../assets/fonts/NotoSerifJP-Bold-Alphabetic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../assets/fonts/NotoSerifJP-Regular-Alphabetic.woff2') format('woff2'),
         url('../assets/fonts/NotoSerifJP-Regular-Alphabetic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../assets/fonts/NotoSerifJP-SemiBold-Alphabetic.woff2') format('woff2'),
         url('../assets/fonts/NotoSerifJP-SemiBold-Alphabetic.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../assets/fonts/NotoSerifJP-Light-Alphabetic.woff2') format('woff2'),
        url('../assets/fonts/NotoSerifJP-Light-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('../assets/fonts/NotoSerifJP-Medium-Alphabetic.woff2') format('woff2'),
         url('../assets/fonts/NotoSerifJP-Medium-Alphabetic.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.woff2') format('woff2'),
         url('../assets/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraBold.woff2') format('woff2'),
         url('../assets/fonts/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
         url('../assets/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
         url('../assets/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Light.woff2') format('woff2'),
         url('../assets/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-ExtraLight.woff2') format('woff2'),
         url('../assets/fonts/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('../assets/fonts/ZillaSlab-Bold.woff2') format('woff2'),
         url('../assets/fonts/ZillaSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('../assets/fonts/ZillaSlab-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/ZillaSlab-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zilla Slab';
    src: url('../assets/fonts/ZillaSlab-Regular.woff2') format('woff2'),
         url('../assets/fonts/ZillaSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
